<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="RijndaelEncryptionServiceConfig" type="NServiceBus.Config.RijndaelEncryptionServiceConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core"/>
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core"/>
  </configSections>

  <TransportConfig MaxRetries="2" />
  <SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:00:02" NumberOfRetries="2" />
  
  <appSettings>
    <add key="NewRelic.AppName" value="NServiceBusStore"/>
    <add key="Heartbeat/Interval" value="00:00:01" />
    <add key="Heartbeat/TTL" value="00:00:05" />
  </appSettings>

  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="cacheSendConnection=true;deadLetter=false" />
  </connectionStrings>
  <AuditConfig QueueName="audit" />
  <RijndaelEncryptionServiceConfig Key="gdDbqRpqdRbTs3mhdZh9qCaDaxJXl+e6" />
</configuration>